<html>
{% include "head.html" %}

<body>
    <div class="container">
        {% include "header.html" %}
        
        {% if in_maintenance == False %}
        <div class="row">
            <div class="col-md-12">
            <form class="input-group">
                <input class="form-control" name="torrentId" placeholder="magnet:?xt=urn:btih:" value="magnet:?xt=urn:btih:{{ hash }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" onclick="download(event)">Download</button>
                </span>    
            </form>
        </div>
        {% include "dscript.html" %}

        {% else %}

            {% include "maintenance.html" %}
        
        {% endif %}
        
        {% include "footer.html" %}
    </div>
</body>

</html>