<head>
    <title>BTSU Torrents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <script type="text/javascript" src={% static "js/site.min.js" %}></script>
    <script type="text/javascript" src={% static "js/custom.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "css/site.min.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/bootflat.min.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/custom.css" %}/>
</head>
