<html>
	<head>
		<title>BTSU Torrents</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<script type="text/javascript" src={% static "site.min.js" %}></script>
		<script type="text/javascript" src={% static "custom.js" %}></script>
		<link rel="stylesheet" type="text/css" href={% static "site.min.css" %}/>
		<link rel="stylesheet" type="text/css" href={% static "bootflat.min.css" %}/>
	</head>
	<body>
		<div class="container">
			{% include "header.html" %}
			
			<div class="col-md-12">
				<h4 id="total">Total Torrents: {{ total }}</h4>
			</div>
		</div>
	</body>
</html>