<html>
    {% include "head.html" %}
    <body>
        <div class="container">
            {% include "header.html" %}

            {% if in_maintenance == False %}
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Information</th>
                                <th>Magnet</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tor in search_result %}
                            <tr>
                                <td>{{ tor.1 }}</td>
                                <td><a href="/tor?hash={{ tor.0 }}">Information</a></td>
                                <td><a href="{{ tor.2 }}">Magnet</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <h4 id="total">Total Torrents: {{ search_count }}</h4>
                </div>
            </div>
            {% else %}
                {% include "maintenance.html" %}
            {% endif %}
            {% include "footer.html" %}
        </div>
    </body>
</html>